---
import HeaderWork from '../../components/HeaderWork.astro';
---

<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Ryota Tomisaki Portfolio Site</title>
     <meta name="description" content="Ryota Tomisakiのポートフォリオサイト。デザイン・コーディングの実績を紹介しています。">
     <meta name="keywords" content="Ryota Tomisaki, ポートフォリオ, デザイン, コーディング, Web制作,デザイナー,冨崎涼太">
    <link rel="canonical" href="https://portfolio-site-snowy-omega.vercel.app/">
    
    <!-- Open Graph（SNSシェア用） -->
    <meta property="og:title" content="Ryota Tomisaki Portfolio Site">
    <meta property="og:description" content="デザインとコーディングの実績を紹介するポートフォリオサイトです。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://portfolio-site-snowy-omega.vercel.app">

    <!-- Twitterカード -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Ryota Tomisaki Portfolio Site">
    <meta name="twitter:description" content="デザインとコーディングの実績を紹介するポートフォリオサイトです。">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/app-icon.png">
    <title>Ryota Tomisaki Portfolio Site</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/xab0ngk.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X00CFV5WYJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X00CFV5WYJ');
    </script>
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ti6yncp6bw");
    </script>

</head>

    <HeaderWork />
    <main class="main">
        <div class="works_visual fade-in">
            <img src="../images/work_pc-05.jpg" alt="">
        </div>
    </main>

    <div class="works-arrow">
        <div>
            <a href="works-04">&lt; prev</a>
            <a href="works-06">next &gt;</a>
        </div>
    </div>

    <div class="work_page-title">
        <h2><small>賢い大人のためのモニターサイト</small>
            <br>スマモニ</h2>
        <span class="work_page-subtitle">WEB Design</span>
        <p>
            株式会社ノーマークにてデザイン部分を制作を担当しました。
            <strong>他と同様スマモニのLPやユーザログイン後のページのデザイン改修</strong>をし、
            新規ユーザが登録しやすいような雰囲気作りのために合わせて様々なデザ
            インを刷新しています。<strong>主にサイトで使用するバナー/LPマイページの画面
            のデザイン改修/html,css,jsを使用したコーディング(時にはphp部
            分簡単な部分の追記など)を行なっています。</strong>入社してから現在まで改修や
            analyticsなどを使った施策を行なってきました。
        </p>
    </div>
    <div class="tabs">
        <button class="tab active" data-tab="tab1">Design 1</button>
        <button class="tab" data-tab="tab2">Design 2</button>
        <button class="tab" data-tab="tab3">Design 3</button>
    </div>
    
    <div id="tab1" class="tab-content active">
       <div class="work-img">
                <img src="../images/pc-img06.webp" alt="" class="fade-in">
                <img src="../images/sp-img06.webp" alt="" class="fade-in">
        </div>
    </div>
    <div id="tab2" class="tab-content">
        <div class="work-img">
                <img src="../images/pc-img07.webp" alt="" class="fade-in">
                <img src="../images/sp-img07.webp" alt="" class="fade-in">
        </div>
    </div>
    <div id="tab3" class="tab-content">
        <div class="work-img">
                <img src="../images/pc-img08.webp" alt="" class="fade-in">
                <img src="../images/sp-img08.webp" alt="" class="fade-in">
        </div>
    </div>

    <div class="line"></div>
    <div class="work-url">
        <div><span>制作日:</span>2023.12.15~2025.8.25</div>
        <div><span>サイトURL:</span><a href="https://sm-mn.jp/lp/">https://sm-mn.jp/lp/</a></div>
    </div>
    <footer class="footer sub">
        <div class="pagetop top-button">TOPへ戻る</div>
        <div class="footer-flex">
        <div class="footer-nav">
             <nav class="footer_inner-nav">
                <ul class="footer_inner-list">
                    <li class="footer_inner-item">
                        <a href="/#about">
                            ABOUT
                            <small>私について</small>
                        </a>
                    </li>
                    <li class="footer_inner-item">
                        <a href="/#skills">
                            SKILLS
                            <small>スキル</small>
                        </a>
                    </li>
                    <li class="footer_inner-item">
                        <a href="/#works">
                            WORKS
                            <small>実績</small>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        </div>
        <small>&copy; Ryota Tomisaki ALL Rights.</small>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../js/text.js" type="module"></script>
    <script src="../js/scroll.js" type="module"></script>
    <script src="../js/tab.js" type="module"></script>
    <script>
        // フェードイン
function showElementAnimation() {
    var element = document.getElementsByClassName('fade-in');
    if (!element) return;
    var showTiming = window.innerHeight > 768 ? 200 : 60;
    var scrollY = window.pageYOffset;
    var windowH = window.innerHeight;
    for (var i = 0; i < element.length; i++) {
        var elemClientRect = element[i].getBoundingClientRect(); var elemY = scrollY + elemClientRect.top; if (scrollY + windowH - showTiming > elemY) {
            element[i].classList.add('show');
        } else if (scrollY + windowH < elemY) {
        }
    }
}
showElementAnimation();
window.addEventListener('scroll', showElementAnimation);
</script>
<script>
    // IE、Safari対応
// smoothscroll.js読み込み
// https://github.com/iamdustan/smoothscroll

// セレクタ名（.pagetop）に一致する要素を取得
const pagetop_btn = document.querySelector(".pagetop");

// .pagetopをクリックしたら
pagetop_btn.addEventListener("click", scroll_top);

// ページ上部へスムーズに移動
function scroll_top() {
  window.scroll({ top: 0, behavior: "smooth" });
}
</script>
    <script>
        const drawerBtn = document.querySelector('.drawer-btn');
        const drawerNav = document.querySelector('.drawer-nav');
        const drawerLinks = drawerNav.querySelectorAll('a'); // メニュー内のリンク

        // ボタンで開閉
        drawerBtn.addEventListener('click', () => {
            if (drawerNav.classList.contains('active')) {
                drawerNav.classList.remove('active');
                drawerNav.classList.add('closing');
                drawerBtn.classList.remove('active-btn');
            } else {
                drawerNav.classList.add('active');
                drawerNav.classList.remove('closing');
                drawerBtn.classList.add('active-btn');
            }
        });

        // メニュー内リンククリックで閉じる
        drawerLinks.forEach(link => {
            link.addEventListener('click', () => {
                drawerNav.classList.remove('active');
                drawerNav.classList.add('closing');
                drawerBtn.classList.remove('active-btn');
            });
        });
    </script>
</body>
</html>