@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #4e4e4e;
  font-family: "area-extended", sans-serif;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    font-size: 1.25rem;
  }
  body .header {
    max-width: 1920px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  body .work_page-title p {
    line-height: 1.85;
    margin-bottom: 100px;
  }
  body .tabs button {
    height: 50px;
    width: 33.3333333333%;
  }
  body .tab-content {
    margin-top: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  position: absolute;
  top: 35px;
  position: fixed;
  z-index: 5;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
}
.header_inner h1 {
  margin: 0;
}
.header_inner h1 img {
  width: 55px;
  height: auto;
}
.header_inner h1 img:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.header_inner-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.header_inner-item a {
  font-size: 16px;
  font-family: "area-extended", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4e4e4e;
  text-decoration: none;
}
.header_inner-item a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.main {
  width: 100%;
}
.main_visual {
  height: 100vh;
  width: 100%;
  top: 0;
  position: relative;
  overflow: hidden;
}
.main_visual img {
  animation-name: bg-anime;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  z-index: -1;
}
@keyframes bg-anime {
  0% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: 20px;
    left: 20px;
  }
  100% {
    bottom: -20px;
    left: -20px;
  }
}
.main_visual-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.main_visual-bg {
  padding-top: 60px;
}

.h2 {
  font-family: "area-extended", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 0;
}
.h2_bottom {
  display: block;
  font-size: 16px;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 0;
}

.about {
  overflow: hidden;
}
.about_title {
  text-align: center;
  margin-bottom: 30px;
}
.about_title-top {
  font-size: 25px;
  font-family: "area-extended", sans-serif;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 10px !important;
}
.about_title-bottom {
  font-size: 12px;
  position: relative;
}
.about_title-bottom::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid #4e4e4e;
  transform: rotate(-40deg);
  top: -12px;
  left: 35%;
}
.about_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.about_box img {
  width: 50%;
}
.about_box-text {
  margin: 0 auto;
  font-family: "area-extended", sans-serif;
}
.about_box-text-name {
  font-size: 30px;
  margin: 0 0 3px 0;
  position: relative;
}
.about_box-text-name::before {
  content: "WEB Designer";
  position: absolute;
  font-size: 12px;
  font-weight: 200;
  top: -10px;
}
.about_box-text-item {
  line-height: 3rem;
}
.about_box-text .li-item {
  margin-right: 10px;
}
.about_box-text .li-item::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1px;
  border-bottom: 1px dashed #4e4e4e;
  margin-bottom: 4px;
  margin-left: 10px;
}
.about_link {
  color: #4e4e4e;
  font-weight: bold;
  position: relative;
  text-align: right;
  display: block;
  padding-right: 50px;
  text-decoration: none;
  transition: 0.3s;
}
.about_link:hover {
  margin-right: 10px;
}
.about_link::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 1px;
  border-bottom: 2px solid #4e4e4e;
  bottom: 7.2px;
  right: 0px;
  transform: rotate(25deg);
}
.about_link::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 10px;
  border-bottom: 2px solid #4e4e4e;
  bottom: 5px;
  right: 0px;
}
.about .about-bg {
  position: absolute;
  right: -20px;
  z-index: -1;
  width: 30%;
  bottom: -10px;
}

.skills {
  overflow: hidden;
  margin-top: 100px;
}
.skills_title {
  text-align: center;
  margin-bottom: 0px;
}
.skills_title-top {
  font-size: 25px;
  font-family: "area-extended", sans-serif;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 10px !important;
}
.skills_title-bottom {
  font-size: 12px;
  position: relative;
}
.skills_title-bottom::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid #4e4e4e;
  transform: rotate(-40deg);
  top: -12px;
  left: 35%;
}
.skills_box {
  width: 90%;
  margin: 0 auto;
}
.skills_box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills_box-item {
  width: 33%;
}
.skills_box-item a img {
  width: 100%;
}

.works {
  overflow: hidden;
  margin-top: 100px;
}
.works_title {
  text-align: center;
  margin-bottom: 30px;
}
.works_title-top {
  font-size: 25px;
  font-family: "area-extended", sans-serif;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 10px !important;
}
.works_title-bottom {
  font-size: 12px;
  position: relative;
}
.works_title-bottom::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid #4e4e4e;
  transform: rotate(-40deg);
  top: -12px;
  left: 35%;
}

.works_box {
  width: 90%;
  margin: 0 auto;
}

.works_box-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}
@media screen and (min-width: 1045px) {
  .works_box-list::after {
    content: "";
    width: 32%;
  }
}

.works_box-item {
  position: relative;
  width: 32%;
  cursor: pointer;
  overflow: hidden;
  height: auto;
}
.works_box-item a {
  text-decoration: none;
}
.works_box-item a img {
  width: 100%;
  vertical-align: top;
  transition: 0.5s;
}
.works_box-item a img:hover {
  transform: scale(1.1);
}

.works_text {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.works_img-title {
  display: inline-block;
  font-size: 16px;
  background: #000;
  color: #fff;
  padding: 4px 10px;
  font-weight: bold;
  left: 0;
}

.works_img-category {
  font-size: 12px;
  text-decoration: none;
  display: block;
  color: #000;
  margin-top: 4px;
}

footer {
  background: #FBFBFB;
  padding: 50px;
  text-align: center;
  margin-top: 100px;
}

.eachTextAnime span {
  opacity: 0;
}

.eachTextAnime.appeartext span {
  animation: text_anime_on 2s ease-out forwards;
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 2s, transform 2s;
}

.fade-in.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.fade-text {
  display: block;
  color: transparent;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 40px;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300% 300%;
}

::-moz-selection {
  background-color: #3abec1;
}

::selection {
  background-color: #3abec1;
}

img::-moz-selection {
  background-color: inherit !important;
}

img::selection {
  background-color: inherit !important;
}

::-moz-selection {
  background-color: #4e4e4e;
  color: #fff;
}

::selection {
  background-color: #4e4e4e;
  color: #fff;
}

@media screen and (max-width: 1045px) {
  .works_box-item {
    width: 48.5%;
  }
}
@media screen and (max-width: 700px) {
  .works_box-item {
    width: 90%;
    margin: 0 auto;
    row-gap: 10px;
  }
  .main_visual-text {
    width: 100%;
  }
  .h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .header_inner h1 img {
    width: 40px;
  }
  .header_inner-item a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1156px) {
  .about_box {
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .about_box-text-name {
    text-shadow: 0 0px 6px #fff !important;
  }
  .about_box {
    justify-content: center;
  }
  .about_box img {
    max-width: 600px;
    width: 100%;
  }
  .about_box .about_box-text {
    padding: 0 40px;
  }
}
@media screen and (max-width: 860px) {
  .skills_box-list {
    gap: 2%;
  }
  .skills_box-list::after {
    content: "";
    display: block;
    width: 45%;
  }
  .skills_box-list li {
    width: 45% !important;
  }
}
@media screen and (max-width: 745px) {
  .skills_box-list {
    justify-content: center;
    row-gap: 10px;
  }
  .skills_box-list .skills_box-item {
    width: 90%;
  }
}
.works_visual {
  width: 100%;
  text-align: center;
  background: rgba(242, 242, 242, 0.9490196078);
}
.works_visual img {
  width: 100%;
  max-width: 1100px;
}

.work_page-title {
  font-weight: bold;
  width: 80%;
  margin: 60px auto 0;
}
.work_page-title h2 {
  font-size: 28px;
  margin: 0 !important;
}
.work_page-title h2 small {
  font-size: 0.8rem;
}
.work_page-title .work_page-subtitle {
  margin: 0;
  letter-spacing: 0.2rem;
}
.work_page-title p {
  font-weight: 400;
  line-height: 1.75rem;
}

.work-img {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
  margin: 0px auto;
  position: relative;
}
.work-img img {
  width: 80%;
  height: auto;
  margin: 0 2%;
}
.work-img img:nth-child(2) {
  width: 20% !important;
}
@media screen and (max-width: 480px) {
  .work-img {
    margin-top: 40px !important;
  }
}

.row-img {
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 6px;
  text-align: center;
}
.row-img img {
  width: 60%;
  height: auto;
  margin: 0 auto;
}
.row-img img:nth-child(2) {
  width: 60% !important;
}
@media screen and (max-width: 480px) {
  .row-img img:nth-child(2) {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .row-img img {
    width: 100% !important;
  }
}
.line {
  width: 80%;
  margin: 30px auto;
  border-bottom: 1px solid #4e4e4e;
}

.work-url {
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
}
.work-url::before {
  content: "";
  border-left: 3px solid #4e4e4e;
  display: inline-block;
  width: 0px;
  height: 100%;
  position: absolute;
  left: 9px;
}
.work-url a {
  color: #4e4e4e;
  font-weight: bold;
  font-size: 14px;
}
.work-url span {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.top-button {
  background: #000;
  color: #fff;
  text-align: center;
  display: block;
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.7s;
}
.top-button:hover {
  background: #4e4e4e;
  cursor: pointer;
}

.footer {
  position: relative;
}
@media screen and (max-width: 480px) {
  .footer {
    margin-top: 180px;
  }
}

.footer .top-button {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .sub {
    margin-top: 80px;
  }
}
@media screen and (max-width: 500px) {
  .works_visual {
    margin-top: 100px;
  }
  .work_page-title h2 {
    font-size: 25px;
  }
  .work_page-title h2 small {
    font-size: 1rem;
  }
  .work_page-title {
    margin: 20px auto 0;
    width: 90%;
  }
  .work-img {
    width: 90%;
  }
  .line {
    width: 90%;
  }
  .work-url {
    width: 90%;
  }
}
.chart-container {
  display: flex;
  gap: 0%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  max-width: 1000px;
}

.chart-box {
  width: 45%; /* 横並び用 */
}

#barChart {
  height: 230px !important;
}

/* SP対応：500px未満は縦並び */
@media (max-width: 499px) {
  .chart-box {
    width: 100%;
  }
  #barChart {
    height: 250px !important;
    width: 85% !important;
    margin: 0 auto;
  }
}
.works-arrow {
  background: #efefef;
  padding: 0;
  position: relative;
  z-index: 10;
  display: block;
}
.works-arrow div {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}
.works-arrow div a {
  background: #4e4e4e;
  color: #fff;
  display: block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.logo-container {
  position: absolute; /* fixedでもrelativeでもなくabsoluteに */
  left: 50%; /* 横の中央に */
  transform: translateX(-50%); /* 自分の幅の半分だけ戻して中央ぴったり */
  width: 100px; /* ロゴ幅 */
  height: 120px; /* ロゴ高さ */
}

.logo-part {
  position: absolute;
  opacity: 0; /* 初期は透明 */
  animation-fill-mode: forwards;
}

/* メガネ */
.glasses {
  width: 100px;
  height: 60px;
  background: url("../images/01-anime-8.png") no-repeat center/contain;
  animation: drop-glasses 0.8s ease-out 0s forwards;
  top: 0;
  left: 0; /* ロゴ内の正しい位置 */
}

/* 口髭 */
.mustache {
  width: 70px;
  height: 30px;
  background: url("../images/02-anime-8.png") no-repeat center/contain;
  animation: drop-mustache 0.8s ease-out 0.6s forwards;
  top: 60px;
  left: 15px;
}

/* 顎髭 */
.beard {
  width: 50px;
  height: 40px;
  background: url("../images/03-anime-8.png") no-repeat center/contain;
  animation: drop-beard 0.8s ease-out 1.2s forwards;
  top: 90px;
  left: 25px;
}

/* アニメーション */
@keyframes drop-glasses {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes drop-mustache {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  60% {
    opacity: 1;
    transform: translateY(15px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes drop-beard {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.tabs {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.tabs button {
  background: #efefef;
  color: #4e4e4e;
  border-radius: 0;
  width: 200px;
  height: 40px;
  border: none;
}
@media screen and (max-width: 480px) {
  .tabs button {
    width: 50%;
    height: 40px;
    border: none;
  }
}
.tabs .active {
  background: #4e4e4e;
  color: #fff;
}

.tab-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.tab-menu li {
  padding: 6px 12px;
  background: #ddd;
  border-radius: 4px;
}

.tab-menu li.active {
  background: #333;
  color: #fff;
}

.tab-content {
  display: none;
  margin-top: 10px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 6px;
}
@media screen and (max-width: 480px) {
  .tab-content {
    margin-top: 0;
  }
  .tab-content .work-img {
    margin-top: 0 !important;
  }
}

.site-content {
  width: auto;
  margin-top: 10px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 6px;
}
.site-content img {
  width: 60% !important;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .site-content {
    margin-top: 0;
    gap: 3%;
  }
  .site-content img {
    width: 70% !important;
    margin: 0;
  }
}

.tab-content.active {
  display: block;
}

@media screen and (max-width: 480px) {
  .app-img {
    width: 100% !important;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
