<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>お問い合わせフォーム</title>
  </head>
  <body>
    <h1>お問い合わせフォーム</h1>

    <form id="contactForm">
      <label>
        名前 (必須)
        <input type="text" name="name" required>
      </label>
      <br>
      <label>
        メール (必須)
        <input type="email" name="email" required>
      </label>
      <br>
      <label>
        種別 (必須)
        <select name="type" required>
          <option value="HP問い合わせ">HP問い合わせ</option>
          <option value="資料請求">資料請求</option>
        </select>
      </label>
      <br>
      <label>
        メッセージ (必須)
        <textarea name="message" required></textarea>
      </label>
      <br>
      <button type="submit">送信</button>
    </form>

    <script type="module" src="/contact.js"></script>
  </body>
</html>
